body{
    background-image: url(image/file-background.jpg);
    background-size: cover;
}

.container {
    background-color: #0000006a;
    margin-left: 32%;
    margin-top: 4%;
    padding: 0 20px;
    font-size: large;
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 10px;
    width: 33%;
    overflow: hidden;
}

h1 {
    text-align: center;
    text-decoration: underline;
    text-shadow: -4px 3px 4px rgba(198, 189, 189, 0.798);
}

fieldset {
    border: 2px solid rgba(255, 255, 255, 0.882);
    border-radius: 5px;
}

#name,
#userid,
#password {
    margin: 12px;
    font-size: 18px;
    text-align: center;
}

input[type="button"] {
    background-color: rgb(60, 0, 255);
    color: azure;
    margin-left: 25.5%;
    margin-top: 7px;
    margin-bottom: 7px;
    width: 50%;
    height: 35px;
    border: none;
    border-radius: 8px;
    font-size: x-large;
    cursor: pointer;
}

input[type="button"]:hover {
    background-color: rgb(0, 255, 0);
    box-shadow: -2px 4px 3px black;
}

input[type="text"] ,input[type="password"] {
    background-color: rgba(32, 32, 32, 0.645);
    color: azure;
    margin-left: 3%;
    margin-top: 7px;
    margin-bottom: 7px;
    width: 50%;
    height: 22px;
    border: none;
    border-radius: 8px;
    font-size: 19px;
    font-weight: 400;
}